root {
	--primary-color: #007bff;
	--secondary-color: #6c757d;
	--success-color: #28a745;
	--info-color: #17a2b8;
	--warning-color: #ffc107;
	--danger-color: #dc3545;
	--light-color: #f8f9fa;
	--dark-color: #343a40;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
	/* border: red solid 1px; */
}

body {
	background-color: #f4f4f4;
	color: var(--dark-color);
	font-size: 1.2rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.main-title {
	font-size: 2rem;
	margin-bottom: 2rem;
	
	text-align: center;

}

#content {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	max-width: 80%;
	padding: 20px;
	width: 100%;
}

.main-panel {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
