<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <% if (htmlWebpackPlugin.options.author) { %>
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
    <% } %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
	<h1 class="main-title">Weather App</h1>
	<div id="content">
		<div class="left-panel" id="next-days">
			<div class="tomorrow" id="tomorrow">

			</div>
			<div class="after-tomorrow" id="after-tomorrow">

			</div>
		</div>
		<div id="today" class="main-panel">

		</div>
	</div>
  </body>
</html>
